        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {class:"login100-form validate-form"}) do |f| %>
          <span class="login100-form-title p-b-43">
            Registre-se
          </span>
          
          <%=f.error_notification %>
          <% flash.each do |key, value| %>
              <%= content_tag :div, value, class: "flash #{key}", style:'color:red' %>
            <% end %>


          <div class="wrap-input100 validate-input">
            <input class="input100 required" type="name" name="user[name]" id='user_name' required='required' value="<%=f.object.name%>" >
            <span class="focus-input100"></span>
            <span class="label-input100">Nome</span>
          </div>
          <%=f.error :name%>
          <div class="wrap-input100 validate-input" data-validate = "Um email válido é necessário: ex@abc.xyz">
            <input class="input100 required" type="email" name="user[email]" id='user_email' required='required' value="<%=f.object.email%>">
            <span class="focus-input100"></span>
            <span class="label-input100">Email</span>
          </div>
          <%=f.error :email%>
          
          
          <div class="wrap-input100 validate-input" data-validate="A senha é necessária">
            <input class="input100 required" type="password" name="user[password]" id="user_password" required='required' aria-autocomplete="list">
            <span class="focus-input100"></span>
            <span class="label-input100">Senha</span>
          </div>
          <%=f.error :password%>


          <div class="wrap-input100 validate-input form-group password required user_password_confirmation " data-validate="A senha é necessária">
            <input class="input100 required" type="password" name="user[password_confirmation]" id="user_password_confirmation" required='required' aria-autocomplete="list">
            <span class="focus-input100"></span>
            <span class="label-input100">Confirme a Senha</span>
          </div>
          <%=f.error :password_confirmation%>

          <div class="flex-sb-m w-full p-t-3 p-b-32">
            <div class="contact100-form-checkbox">
              <input type="hidden" name="user[remember_me]" value='0'>
              <input class="input-checkbox100" id="user_remember_me" type="checkbox" name="user[remember_me]" value="1">
              <label class="label-checkbox100" for="user_remember_me">
                Me mantenha logado
              </label>
            </div>

            <div>
              <%= render "devise/shared/links" %>
            </div>
          </div>
      

          <div class="container-login100-form-btn">
            <%= f.button :submit, "Registrar",class:"login100-form-btn"%>
          </div>
          
          <div class="text-center p-t-46 p-b-20">
            <span class="txt2">
              or registre-se com
            </span>
          </div>

          <div class="login100-form-social flex-c-m">
            <a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
              <i class="fa fa-facebook-f" aria-hidden="true"></i>
            </a>

            <a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </div>
        <%end%>





