<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="http://www.laboratorioaberto.com.br/xmlrpc.php">
  
  <title>Sistema | Laboratório Aberto de Brasília - LAB</title>

<!-- This site is optimized with the Yoast SEO plugin v12.2 - https://yoast.com/wordpress/plugins/seo/ -->
<meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
<link rel="canonical" href="http://www.laboratorioaberto.com.br/" />
<meta property="og:locale" content="pt_BR" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Sistema | Laboratório Aberto de Brasília - LAB" />
<meta property="og:description" content="O Laboratório Aberto de Brasília – LAB é um ambiente de colaboração para a prototipação de novos produtos, serviços e negócios dentro da Universidade de Brasília – UnB.  Um dos papéis do LAB dentro da Universidade de Brasília é disponibilizar espaço com ferramentas e monitoramento com a finalidade de desenvolver o primeiro protótipo. Aqui, os alunos e professores &hellip;" />
<meta property="og:url" content="http://www.laboratorioaberto.com.br/" />
<meta property="og:site_name" content="Laboratório Aberto de Brasília - LAB" />
<meta property="og:image" content="http://www.laboratorioaberto.com.br/wp-content/uploads/2018/12/teste3.png" />
<meta property="og:image:width" content="1346" />
<meta property="og:image:height" content="350" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="O Laboratório Aberto de Brasília – LAB é um ambiente de colaboração para a prototipação de novos produtos, serviços e negócios dentro da Universidade de Brasília – UnB.  Um dos papéis do LAB dentro da Universidade de Brasília é disponibilizar espaço com ferramentas e monitoramento com a finalidade de desenvolver o primeiro protótipo. Aqui, os alunos e professores [&hellip;]" />
<meta name="twitter:title" content="Sistema | Laboratório Aberto de Brasília - LAB" />
<meta name="twitter:image" content="http://www.engenhariadeproduto.com.br/wp-content/uploads/2018/11/004-768x512.jpg" />
<link rel="icon" href="http://www.laboratorioaberto.com.br/wp-content/uploads/2018/11/cropped-icon-32x32.png" sizes="32x32">

<link rel="icon" href="http://www.laboratorioaberto.com.br/wp-content/uploads/2018/11/cropped-icon-192x192.png" sizes="192x192">

<link rel="apple-touch-icon-precomposed" href="http://www.laboratorioaberto.com.br/wp-content/uploads/2018/11/cropped-icon-180x180.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="https://beeprinted-stls.s3.amazonaws.com/Plataforma/Assets/CSS/cs-skin-elastic.css">
    <link rel="stylesheet" href="https://beeprinted-stls.s3.amazonaws.com/Plataforma/Assets/CSS/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    
    <script src="https://ds76otpcq42vd.cloudfront.net/assets/Nova/assets/js/jquery-2.2.4.min.js"></script>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <style>
        .grid_item_overlay {
            position: absolute;
            left: 10%;
            top: 10%;
            width: 80%;
            height: 80%;
            background: rgba(255, 0, 0, .4);
            color: #fff;
            padding: 35% 20px 20px;
            opacity: 1;
            transition: .6s;
            z-index: 99;
        }
        .blocker{
            z-index:999999 !important;
        }
        .navbar .navbar-nav li.menu-item-has-children a:before {
            top: 20px;
            right: -10px;
            border:none;
        }
        aside.left-panel{
            width:230px;
        }
        .right-panel{
            margin-left:230px;
        }
        .table-stats table td {
            text-transform: inherit !important;
        }
        .right-panel .navbar-brand {
            width:auto;
        }
        .navbar .navbar-nav li > a .menu-icon, .search-trigger, .menutoggle,.navbar .navbar-nav li.menu-item-has-children .sub-menu i, .user-area .user-menu .nav-link i{
            color:orange !important;
        }
        header .form-inline, header .form-inline .search-form input[type="text"]{
            background-color:orange ;
            color:white;
        }
        header .form-inline .search-form input[type="text"]::placeholder{
            color:white !important;
        }
        .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
            border-color: orange;
            background-color:orange;
        }
        .btn-primary{
            border-color: orange;
            background-color:orange;
        }
        .custom-select.is-valid, .form-control.is-valid, .was-validated .custom-select:valid, .was-validated .form-control:valid {
            border: 1px solid #ced4da;
        }
        .btn-info, .btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle, .btn-info:hover{
            background-color: orange;
            border-color: orange;
        }
        a{
            color:orange;
            cursor:pointer;
        }
        .close {
            color:orange !important;
        }
    </style>

    <style>
        @media (min-width: 576px){
          .modal-dialog {
              max-width: 600px;
              margin: 1.75rem auto;
          }
    </style>

</head>


<body class='open'>

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                            <i class="menu-icon fa fa-money" title='Pedidos'></i>Pedidos
                        </a>
                        <ul class="sub-menu children dropdown-menu">           
                            <li><i class="fa fa-bars"></i><a href=<%=root_path%>>Todos</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                            <i class="menu-icon fa fa-users" title='Colaboradores'></i>Colaboradores
                        </a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-user"></i><a href=<%=users_path%>>Usuários</a></li>           
                            <li><i class="fa fa-user-plus"></i><a href=<%=solicitacoes_path%>>Solicitações</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                            <i class="menu-icon fa fa-print" title='Impressoras'></i>Impressoras
                        </a>
                        <ul class="sub-menu children dropdown-menu">           
                            <li><i class="fa fa-bars"></i><a href=<%=printers_path%>>Todas</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                            <i class="menu-icon fa fa-cubes" title='Estoque'></i>Estoque
                        </a>
                        <ul class="sub-menu children dropdown-menu"> 

                            <li><i class="fa fa-cube"></i><a href=<%=filamentos_path%>>Filamentos</a></li>          
                            
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                            <i class="menu-icon fa fa-bar-chart" title='Análise'></i>Análise
                        </a>
                        <ul class="sub-menu children dropdown-menu">           
                            
                        </ul>
                    </li>
                    
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->


    <div id="right-panel" class="right-panel">

        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand" href=<%=root_path%>><img src="https://lababerto.s3-sa-east-1.amazonaws.com/lababerto-completo.jpg" alt="Logo"></a>
                    <a class="navbar-brand hidden" href="./"><img src="https://beeprinted-stls.s3.amazonaws.com/Plataforma/Assets/Images/logo2.png" alt="Logo"></a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                    <div class="header-left">
                        <button class="search-trigger" onclick="$('#pesquisar').focus();"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form" action="" method='get'>
                                <input class="form-control mr-sm-2" type="text" placeholder="Pesquisar ..." aria-label="Search" name='query' id='pesquisar'>
                                <input type="submit" value="Submit" style='display:none'>
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>

                       <!-- <div class="dropdown for-notification">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="count bg-danger">3</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="notification">
                                <p class="red">You have 3 Notification</p>
                                <a class="dropdown-item media" href="#">
                                    <i class="fa fa-check"></i>
                                    <p>Server #1 overloaded.</p>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <i class="fa fa-info"></i>
                                    <p>Server #2 overloaded.</p>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <i class="fa fa-warning"></i>
                                    <p>Server #3 overloaded.</p>
                                </a>
                            </div>
                        </div>

                        <div class="dropdown for-message">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="message" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-envelope"></i>
                                <span class="count bg-primary">4</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="message">
                                <p class="red">You have 4 Mails</p>
                                <a class="dropdown-item media" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="https://beeprinted-stls.s3.amazonaws.com/Plataforma/Assets/Images/1.jpg"></span>
                                    <div class="message media-body">
                                        <span class="name float-left">Jonathan Smith</span>
                                        <span class="time float-right">Just now</span>
                                        <p>Hello, this is an example msg</p>
                                    </div>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="https://beeprinted-stls.s3.amazonaws.com/Plataforma/Assets/Images/2.jpg"></span>
                                    <div class="message media-body">
                                        <span class="name float-left">Jack Sanders</span>
                                        <span class="time float-right">5 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    </div>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="https://beeprinted-stls.s3.amazonaws.com/Plataforma/Assets/Images/3.jpg"></span>
                                    <div class="message media-body">
                                        <span class="name float-left">Cheryl Wheeler</span>
                                        <span class="time float-right">10 minutes ago</span>
                                        <p>Hello, this is an example msg</p>
                                    </div>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="https://beeprinted-stls.s3.amazonaws.com/Plataforma/Assets/Images/4.jpg"></span>
                                    <div class="message media-body">
                                        <span class="name float-left">Rachel Santos</span>
                                        <span class="time float-right">15 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    </div>
                                </a>
                            </div>
                        </div>-->
                    </div>

                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active user-avatar rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%=profile_avatar_select(current_user)%>
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href=<%=profile_path(current_user)%>><i class="fa fa-user"></i>Meu Perfil</a>

                            <a class="nav-link" href=<%=edit_user_registration_path%>><i class="fa fa-cog"></i>Editar Conta</a>

                            <%=link_to destroy_user_session_path, class: "nav-link external" do%>
                              <i class="fa fa-power-off"></i>Sair
                            <%end%>
                        </div>
                    </div>
                </div>
            </div>
        </header><!-- /header -->
        <div id=main-nav class="navbar-fixed-top" role=navigation style='top:110px'>
        <div class='container text-center'>

        <% flash.each do |key, value| %>
          <% alert_class = case key
                           when "notice" then "success"
                           when "alert" then "danger"
                           else key
                           end %>
          <%= content_tag :div,value, class: "alert alert-#{alert_class}" do %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= value %>
          <% end %>
        <% end %>

        </div>
       </div>

        <!-- Header-->

        <%=yield%>

        <div class="clearfix"></div>

        <footer class="site-footer">
            <div class="footer-inner bg-white">
                <div class="row">
                    <div class="col-sm-6">
                        
                    </div>
                    <div class="col-sm-6 text-right">
                        Copyright &copy; 2020 <a href="https://beeprinted.com.br">BEEPRINTED</a>
                    </div>
                </div>
            </div>
        </footer>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <%= yield(:javascript_hives) %>
    <script src="https://beeprinted-stls.s3.amazonaws.com/Plataforma/Assets/js/main.js"></script>

</body>
</html>